---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">Le Projet</h3>
    Ce projet est un effort pour mieux comprendre la gentrification et d'autres aspects du capitalisme sur la crise du logement à Montréal. Initié par Rine Vieth à l'été 2022, ce projet vise à aider les promoteurs immobiliers, les locataires et toute personne soucieuse du logement à Montréal à mieux comprendre la crise à laquelle la ville est confrontée.
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">The Projet</h3>
This project is an effort to better understand gentrification and other aspects of capitalism on the housing crisis facing Montréal. Started by Rine Vieth the summer of 2022, this project aims to help housing organizers, tenants, and anyone who cares about housing in Montréal to better understand the crisis facing the city.
<div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>
{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
